<div class="title-section">
    <h1>Список статей</h1>
    <app-button
        [buttonText]="'Создать'"
        [buttonType]="'link'"
        [link]="'articles/new'">
        <ng-template>
            <mat-icon>add</mat-icon>
            Создать
        </ng-template>
    </app-button>
</div>
<app-searchbar (searchEvent)="searchByTitle($event)"></app-searchbar>
<div class="articles-list">
    @for (article of (articles$ | async)!.data; track article.title) {
        <app-article-card [article]="article" (deleteEvent)="handleDeletion($event)"></app-article-card>
    }
</div>
<mat-paginator class="startups-paginator" [length]="(articles$ | async)?.pagination?.total"
               [pageIndex]="(articles$ | async)?.pagination?.page"
               [pageSize]="(articles$ | async)?.pagination?.limit"
               [pageSizeOptions]="[5, 8, 10, 25, 100]"
               (page)="handlePageChange($event)"
               aria-label="Select page">
</mat-paginator>
