.articles-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}
.title-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}