<div class="history-title">
    <h1>Правка статьи <a [routerLink]="[`/articles/${(currentHistory$ | async)?.article?._id}`]">{{(currentHistory$ | async)?.article?.title}}</a></h1>
    <app-history-type-badge [actionType]="(currentHistory$ | async)?.actionType"></app-history-type-badge>
</div>
<div class="user-info">
    <div class="user-avatar">
        {{(currentHistory$ | async)!.user.firstName.charAt(0)}}{{(currentHistory$ | async)!.user.lastName.charAt(0)}}
    </div>
    <div class="user-name">
        {{(currentHistory$ | async)!.user.firstName}} {{(currentHistory$ | async)!.user.lastName}}
    </div>
</div>
<div class="action-date">
    <mat-icon>history</mat-icon>
    {{(currentHistory$ | async)!.actionDate | date:"d.LL.y в H:mm"}}
</div>
@if ((currentHistory$ | async)!.nextArticle) {
    @if ((currentHistory$ | async)!.previousArticle) {
    <!--CASE UPDATE WITH NEXT AND PREV ARTICLES-->
        <app-history-diff 
            [previous]="(currentHistory$ | async)!.previousArticle.title" 
            [next]="(currentHistory$ | async)!.nextArticle.title"
            [propertyName]="'заголовок'">
        </app-history-diff>

        <app-history-diff 
            [previous]="(currentHistory$ | async)!.previousArticle.body" 
            [next]="(currentHistory$ | async)!.nextArticle.body"
            [propertyName]="'текст'"
            [contentType]="'html'">
        </app-history-diff>

        <app-history-diff 
            [previous]="(currentHistory$ | async)!.previousArticle.imagePath" 
            [next]="(currentHistory$ | async)!.nextArticle.imagePath"
            [propertyName]="'изображение'">
        </app-history-diff>

        <app-history-diff 
            [previous]="(currentHistory$ | async)!.previousArticle.birth" 
            [next]="(currentHistory$ | async)!.nextArticle.birth"
            [propertyName]="'рождение'"
            [contentType]="'json'">
        </app-history-diff>
        <app-history-diff 
            [previous]="(currentHistory$ | async)!.previousArticle.death" 
            [next]="(currentHistory$ | async)!.nextArticle.death"
            [propertyName]="'смерть'"
            [contentType]="'json'">
        </app-history-diff>
    }
    @else {
        <!--CASE ARTICLE CREATION-->
        <app-history-diff 
            [previous]="''" 
            [next]="(currentHistory$ | async)!.nextArticle.title"
            [propertyName]="'заголовок'">
        </app-history-diff>
        <app-history-diff 
            [previous]="''" 
            [next]="(currentHistory$ | async)!.nextArticle.body"
            [propertyName]="'текст'"
            [contentType]="'html'">
        </app-history-diff>
        <app-history-diff 
            [previous]="''" 
            [next]="(currentHistory$ | async)!.nextArticle.imagePath"
            [propertyName]="'изображение'">
        </app-history-diff>
        <app-history-diff 
            [previous]="''" 
            [next]="(currentHistory$ | async)!.nextArticle.birth"
            [propertyName]="'рождение'"
            [contentType]="'json'">
        </app-history-diff>
        <app-history-diff 
            [previous]="''" 
            [next]="(currentHistory$ | async)!.nextArticle.death"
            [propertyName]="'смерть'"
            [contentType]="'json'">
        </app-history-diff>
    }
}
@else {
    <!--CASE LAST ARTICLE UPDATE-->
    <app-history-diff 
        [previous]="(currentHistory$ | async)!.previousArticle.title" 
        [next]="(currentHistory$ | async)!.article.title"
        [propertyName]="'текст'">
    </app-history-diff>
    <app-history-diff 
        [previous]="(currentHistory$ | async)!.previousArticle.body" 
        [next]="(currentHistory$ | async)!.article.body"
        [propertyName]="'текст'"
        [contentType]="'html'">
    </app-history-diff>

}