.history-versions {
    display: flex;
    div {
        flex: 1;
        text-align: center;
    }
}
.history-title-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    margin-bottom: 20px;

    .history-title {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
    }
        
    .history-nav-link {
        font-size: 26px;
    }
}


a:hover {
    color: rgb(76.5, 162.6, 255);
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e9ecef;
    color: #6c757d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    flex-shrink: 0;
}
.user-info {
    display: flex;
    gap: 15px;
    align-items: center;

    .user-name {
        font-weight: bold;
    }
}
.action-date {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}