<div class="history-title">
    <h1>Правка статьи <a [routerLink]="[`/articles/${(currentHistory$ | async)?.article?._id}`]">{{(currentHistory$ | async)?.article?.title}}</a></h1>
    <app-history-type-badge [actionType]="(currentHistory$ | async)?.actionType"></app-history-type-badge>
</div>
<div class="user-info">
    <div class="user-avatar">
        {{(currentHistory$ | async)!.user.firstName.charAt(0)}}{{(currentHistory$ | async)!.user.lastName.charAt(0)}}
    </div>
    <div class="user-name">
        {{(currentHistory$ | async)!.user.firstName}} {{(currentHistory$ | async)!.user.lastName}}
    </div>
</div>
<div class="action-date">
    <mat-icon>history</mat-icon>
    {{(currentHistory$ | async)!.actionDate | date:"d.LL.y в H:mm"}}
</div>
@if ((currentHistory$ | async)!.nextArticle) {
    @if ((currentHistory$ | async)!.previousArticle) {
    <!--CASE UPDATE WITH NEXT AND PREV ARTICLES-->
        <app-article-properties-history 
            [previousArticle]="(currentHistory$ | async)!.previousArticle"
            [nextArticle]="(currentHistory$ | async)!.nextArticle">
        </app-article-properties-history>
    }
    @else {
        <!--CASE ARTICLE CREATION-->
        <app-article-properties-history 
            [previousArticle]="undefined"
            [nextArticle]="(currentHistory$ | async)!.nextArticle">
        </app-article-properties-history>
    }
}
@else {
    <!--CASE LAST ARTICLE UPDATE-->
    <app-article-properties-history 
        [previousArticle]="(currentHistory$ | async)!.previousArticle"
        [nextArticle]="(currentHistory$ | async)!.article">
    </app-article-properties-history>
}