@if (buttonType === "link") {
    <a 
    [href]="link" class="submit-button" 
    [ngClass]="{'danger': buttonStyle === 'danger', 'small': buttonOutline === 'small'}" 
    (click)="handleClick()">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </a>
}
@else {
    <button 
    [type]="buttonType" 
    class="submit-button" 
    [ngClass]="{'danger': buttonStyle === 'danger', 'small': buttonOutline === 'small'}" 
    (click)="handleClick()">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </button>
}