@if (buttonType === "link") {
    <a 
    [routerLink]="[link]" class="submit-button" 
    [ngClass]="{'danger': buttonStyle === 'danger', 'success': buttonStyle === 'success', 'small': buttonOutline === 'small'}" 
    (click)="handleClick()">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </a>
}
@else {
    <button 
    [type]="buttonType" 
    class="submit-button" 
    [ngClass]="{'danger': buttonStyle === 'danger', 'success': buttonStyle === 'success', 'small': buttonOutline === 'small'}" 
    (click)="handleClick()">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </button>
}