<form [formGroup]="articleFormGroup" (ngSubmit)="handleFormSubmission()" class="form-container">
    @if (formType === FormType.CREATE) {
        <h1>Создание новой статьи</h1>
    }
    @else {
        <h1>Редактирование статьи</h1>
    }
    <app-form-field
        [formGroup]="articleFormGroup"
        [controlName]="'title'"
        [label]="'Название'"
        [type]="'text'">
    </app-form-field>
    <app-form-field
        [formGroup]="articleFormGroup"
        [controlName]="'body'"
        [label]="'Текст статьи'"
        [type]="'textarea'">
    </app-form-field>
    <form [formGroup]="articleFormGroup.controls.birth">
        <app-form-field
            [formGroup]="articleFormGroup.controls.birth"
            [controlName]="'date'"
            [label]="'Дата рождения'"
            [type]="'date'">
        </app-form-field>
        <form [formGroup]="articleFormGroup.controls.birth.controls.place">
            <app-form-field
                [formGroup]="articleFormGroup.controls.birth.controls.place"
                [controlName]="'place'"
                [label]="'Место рождения'"
                [type]="'text'"
                [iconCode]="'location_on'">
            </app-form-field>
            <app-form-field
                [formGroup]="articleFormGroup.controls.birth.controls.place"
                [controlName]="'country'"
                [label]="'Страна рождения'"
                [type]="'text'"
                [iconCode]="'flag'">
            </app-form-field>
        </form>
    </form>

    <form [formGroup]="articleFormGroup.controls.death">
        <app-form-field
            [formGroup]="articleFormGroup.controls.death"
            [controlName]="'date'"
            [label]="'Дата смерти'"
            [type]="'date'">
        </app-form-field>
        <form [formGroup]="articleFormGroup.controls.death.controls.place">
            <app-form-field
                [formGroup]="articleFormGroup.controls.death.controls.place"
                [controlName]="'place'"
                [label]="'Место смерти'"
                [type]="'text'"
                [iconCode]="'location_on'">
            </app-form-field>
            <app-form-field
                [formGroup]="articleFormGroup.controls.death.controls.place"
                [controlName]="'country'"
                [label]="'Страна смерти'"
                [type]="'text'"
                [iconCode]="'flag'">
            </app-form-field>
        </form>

    </form>

    <h2>Ресурсы</h2>
    @for (resourceControl of resources; track $index) {
        <form [formGroup]="resourceControl" class="resources-form">
            <app-form-field
                class="resource-input"
                [formGroup]="resourceControl"
                [controlName]="'key'"
                [label]="'Название параметра'"
                [type]="'text'">
            </app-form-field>
            <app-form-field
                class="resource-input"
                [formGroup]="resourceControl"
                [controlName]="'value'"
                [label]="'Значение параметра'"
                [type]="'text'">
            </app-form-field>
            <button class="btn btn-danger remove-item-btn" (click)="removeResource($index)" type="button"><mat-icon>delete</mat-icon></button>
        </form>
    }
    <app-button class="add-resource-btn" [buttonType]="'button'" (clickEvent)="addResource()">
        <ng-template>
            <mat-icon>add</mat-icon>Добавить новое поле
        </ng-template>
    </app-button>

    <h2>Должности</h2>
    @for (appointment of appointments; track $index) {
        <div class="appointment-title">
            <h3>Должность № {{$index + 1}}</h3>
            <button class="btn btn-danger remove-item-btn" (click)="removeAppointment($index)" type="button"><mat-icon>delete</mat-icon></button>
        </div>
        
        <form [formGroup]="appointment">
            <app-form-field
                class="resource-input"
                [formGroup]="appointment"
                [controlName]="'title'"
                [label]="'Название должности'"
                [type]="'text'">
            </app-form-field>
            <app-form-field
                class="resource-input"
                [formGroup]="appointment"
                [controlName]="'startDate'"
                [label]="'Начало'"
                [type]="'date'">
            </app-form-field>
            <app-form-field
                class="resource-input"
                [formGroup]="appointment"
                [controlName]="'endDate'"
                [label]="'Конец'"
                [type]="'date'">
            </app-form-field>
            <app-form-field
                class="resource-input"
                [formGroup]="appointment"
                [controlName]="'predecessor'"
                [label]="'Предшественник'"
                [type]="'text'">
            </app-form-field>
            <app-form-field
                class="resource-input"
                [formGroup]="appointment"
                [controlName]="'successor'"
                [label]="'Преемник'"
                [type]="'text'">
            </app-form-field>            
        </form>
    }
    <app-button class="add-resource-btn" [buttonType]="'button'" (clickEvent)="addAppointment()">
        <ng-template>
            <mat-icon>add</mat-icon>Добавить новую должность
        </ng-template>
    </app-button>



    <h2>Секции</h2>
    @for (section of sections; track $index; let sectionIndex = $index) {
        <div class="appointment-title">
            <h3>Секция № {{sectionIndex + 1}}</h3>
            <div class="section-controls">
                <app-button class="add-resource-btn" [buttonType]="'button'" (clickEvent)="addColumn(sectionIndex)">
                    <ng-template>
                        <mat-icon>add</mat-icon>Добавить колонку
                    </ng-template>
                </app-button>
                <button class="btn btn-danger remove-item-btn" (click)="removeSection(sectionIndex)" type="button"><mat-icon>delete</mat-icon></button>
            </div>  
        </div>
        <form [formGroup]="section">
            <app-form-field
                class="resource-input"
                [formGroup]="section"
                [controlName]="'title'"
                [label]="'Название секции'"
                [type]="'text'">
            </app-form-field> 
            <div class="columns-form">
                @for (column of section.controls.columns.controls; track $index; let columnIndex = $index) {
                    <form [formGroup]="column" class="single-column">
                        <div class="column-title">
                            <h4>Колонка {{column.controls.order.value + 1}}</h4>
                            <button class="btn btn-danger remove-item-btn" (click)="removeColumn(sectionIndex, columnIndex)" type="button"><mat-icon>delete</mat-icon></button>
                        </div>
                        <app-form-field
                            class="resource-input"
                            [formGroup]="column"
                            [controlName]="'text'"
                            [label]="'Текст колонки'"
                            [type]="'textarea'">
                        </app-form-field> 
                    </form>
                }
            </div>
        </form>
    }
    <app-button class="add-resource-btn" [buttonType]="'button'" (clickEvent)="addSection()">
        <ng-template>
            <mat-icon>add</mat-icon>Добавить новую секцию
        </ng-template>
    </app-button>

    @if (formType === FormType.CREATE) {
        <app-button [buttonType]="'submit'">
            <ng-template>
                Создать статью
            </ng-template>
        </app-button>
    }
    @else {
        <app-button [buttonType]="'submit'">
            <ng-template>
                Обновить статью
            </ng-template>
        </app-button>
    }
</form>
