<div class="header-outer">
    <div class="header-container container">
        <a [href]="['']" class="logo">
            <img width="100" src="assets/logo.png">
        </a>
        <div class="nav-menu">
            <a [href]="['articles']" class="nav-item nav-link">
                СТАТЬИ
                <div class="link-bottom-line">
                </div>
            </a>
            <div class="nav-item nav-link">
                АВТОРЫ
                <div class="link-bottom-line">
                </div>
            </div>
            <a [href]="['profile']" class="nav-item nav-link">
                ПРОФИЛЬ
                <div class="link-bottom-line">
                </div>
            </a>
        </div>
    </div>
</div>
