<div class="article-card">
    <div class="card-title">
        <a [href]="[`/articles/${article!._id}`]"><h2>{{article!.title}}</h2></a>
        <div class="controls">
            <app-button [buttonType]="'link'" [link]="`/articles/${article!._id}/update`">
                <ng-template>
                    <mat-icon>edit</mat-icon>Редактировать
                </ng-template>
            </app-button>
            <app-button (clickEvent)="delete()" [buttonStyle]="'danger'">
                <ng-template>
                    <mat-icon>delete</mat-icon>Удалить
                </ng-template>
            </app-button>
        </div>

    </div>

    <div class="main-info">
        <div class="article-image">
            @if (article?.imagePath) {
                <img [src]="`http://localhost:3000/uploads/images/${article?.imagePath}`">
            }
            @else {
                <img src="assets/no-image-placeholder.jpg">
            }
        </div>
        <div>
            @if (article!.body!.length > 50) {
                {{article?.body?.substring(0, 50)+ "..."}}
            }
            @else {
                {{article?.body?.substring(0, 50)}}
            }
        </div>
    </div>
</div>
