<div class="article-card">
    <a [href]="[`/articles/${article!._id}`]"><h2>{{article!.title}}</h2></a>
    <div class="main-info">
        <div class="article-image">
            <img height="150" src="assets/no-image-placeholder.jpg">
        </div>
        <div>
            @if (article!.body!.length > 50) {
                {{article?.body?.substring(0, 50)+ "..."}}
            }
            @else {
                {{article?.body?.substring(0, 50)}}
            }
        </div>
    </div>
</div>
