<form [formGroup]="loginFormGroup" class="form-container login-form">
    @if (loginFormGroup.controls.email) {
        <app-form-field
            [formGroup]="loginFormGroup"
            [controlName]="'email'"
            [label]="'Адрес электронной почты'"
            [placeholder]="'example@mail.ru'"
            [iconCode]="'person'"
            [type]="'email'"
            [autocomplete]="'email'"
            [name]="'email'">
        </app-form-field>
    }

    <app-form-field
        [formGroup]="loginFormGroup"
        [controlName]="'password'"
        [label]="'Пароль'"
        [iconCode]="'key'"
        [type]="'password'"
        [name]="'password'"
        [autocomplete]="'current-password'">
    </app-form-field>


    <app-button (clickEvent)="login()">
        <ng-template>
            Войти
        </ng-template>
    </app-button>

</form>
