<form [formGroup]="loginFormGroup" class="form-container">
    @if (loginFormGroup.controls.email) {
        <app-form-field
            [formGroup]="loginFormGroup"
            [controlName]="'email'"
            [label]="'Адрес электронной почты'"
            [placeholder]="'example@mail.ru'"
            [iconCode]="'person'"
            [type]="'email'"
            [autocomplete]="'email'"
            [name]="'email'">
        </app-form-field>
    }

    <app-form-field
        [formGroup]="loginFormGroup"
        [controlName]="'password'"
        [label]="'Пароль'"
        [iconCode]="'key'"
        [type]="'password'"
        [name]="'password'"
        [autocomplete]="'current-password'">
    </app-form-field>

    <app-form-submit-button [buttonText]="'Войти'" (clickEvent)="login()"></app-form-submit-button>
</form>
