<form [formGroup]="registerFormGroup" class="form-container">
    <app-form-field
        [formGroup]="registerFormGroup"
        [controlName]="'email'"
        [label]="'Адрес электронной почты'"
        [iconCode]="'email'"
        [placeholder]="'example@mail.ru'"
        [type]="'email'">
    </app-form-field>
    <app-form-field
        [formGroup]="registerFormGroup"
        [controlName]="'password'"
        [label]="'Пароль'"
        [iconCode]="'key'"
        [type]="'password'">
    </app-form-field>
    <app-form-field
        [formGroup]="registerFormGroup"
        [controlName]="'firstName'"
        [label]="'Имя'"
        [placeholder]="'Иван'"
        [type]="'text'">
    </app-form-field>
    <app-form-field
        [formGroup]="registerFormGroup"
        [controlName]="'lastName'"
        [label]="'Фамилия'"
        [placeholder]="'Иванов'"
        [type]="'text'">
    </app-form-field>

    <app-form-submit-button [buttonText]="'Зарегистрироваться'" (clickEvent)="register()"></app-form-submit-button>
</form>
