.article-table {
    width: 40%;

    tr, td {
        border-width: 1px;
    }


    p {
        text-align: center;
    }
}
.resource-value {
    width: 100%;
}
.resource-key {
    min-width: 150px;
}
.article-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .article-controls {
        display: flex;
        gap: 15px;
    }
}
.section-title {
    text-align: center;
    background-color: #eaecf0;
}
.delete-button {
    max-width: 250px;
}
.article-body {
    margin-top: 20px;
}
:host ::ng-deep .article-body figure {
    display: flex;
    justify-content: center;

    img {
        max-width: 80%;
        height: auto;
    }
}

.main-image {
    max-width: 50%;
    margin: 0 auto;
    // max-height: 50%;
}
.image-cell {
    text-align: center;
}
