<div class="article-title-container">
    <h2>{{article?.title}}</h2>
    <div class="article-controls">
        <app-button class="add-resource-btn" [buttonType]="'link'" [link]="'update'">
            <ng-template>
                <mat-icon>edit</mat-icon>Редактировать
            </ng-template>
        </app-button>
        <app-button class="add-resource-btn" [buttonType]="'link'" [link]="'history'">
            <ng-template>
                <mat-icon>history</mat-icon>История
            </ng-template>
        </app-button>
    </div>
</div>

@if (article?.appointments?.length) {
    <table class="article-table">
        @for (appointment of article?.appointments; track $index) {
            <tr>
                <td>
                    <p>{{appointment.title}}</p>
                    @if (appointment.startDate) {
                        @if (appointment.endDate) {
                            <p>{{appointment.startDate | dateWordFormat}} - {{appointment.endDate | dateWordFormat}}</p>
                        }
                        @else {
                            <p>с {{appointment.startDate | dateWordFormat}}</p>
                        }
                    }
                    
                    @if (appointment.predecessor) {
                        <p>Предшественник: {{appointment.predecessor}}</p>
                    }
                    @if (appointment.successor) {
                        <p>Преемник: {{appointment.successor}}</p>
                    }
                </td>
            </tr>
        }
        
    </table>
}
<table class="article-table">
    @for (resource of article?.resources; track $index) {
        <tr>
            <td class="resource-key">
                {{resource.key}}
            </td>
            <td class="resource-value">
                {{resource.value}}
            </td>
        </tr>
    }
    @if (article?.birth) {
        <tr>
            <td class="resource-key">
                Рождение
            </td>
            <td class="resource-value">
                <span>{{article!.birth!.date | dateWordFormat}}</span>
                @if (!article!.death) {
                    <span> ({{age | ageFormat}})</span>
                }
                @if (article?.birth?.place?.place) {
                    <span>, {{article?.birth?.place?.place}}</span>
                }
                @if (article?.birth?.place?.country) {
                    <span>, {{article?.birth?.place?.country}}</span>
                }
            </td>
        </tr>
    }
    @if (article?.death) {
        <tr>
            <td class="resource-key">
                Смерть
            </td>
            <td class="resource-value">
                <span>{{article!.death!.date | dateWordFormat}}</span>
                @if (article!.birth!.date && article!.death!.date) {
                    <span> ({{age | ageFormat}})</span>
                }
                @if (article?.death?.place?.place) {
                    <span>, {{article?.death?.place?.place}}</span>
                }
                @if (article?.death?.place?.country) {
                    <span>, {{article?.death?.place?.country}}</span>
                }
            </td>
        </tr>
    }
    
</table>
@if (article?.sections?.length) {
    <table class="article-table">
        @for (section of article?.sections; track $index; let sectionIndex = $index) {
            @if (section.title) {
                <tr>
                    <td class="section-title" [colSpan]="section.columns.length">{{section.title}}</td>
                </tr>
            }
            <tr>
                @for (column of section.columns; track $index; let columnIndex = $index) {
                    <td>{{column.text}}</td>
                }
            </tr>
        }
        
    </table>
}



<div class="article-body" [innerHTML]="articleBody"></div>
<div class="delete-button">
    <app-button (clickEvent)="deleteArticle()" [buttonStyle]="'danger'">
        <ng-template>
            <mat-icon>delete</mat-icon>Удалить
        </ng-template>
    </app-button>
</div>