<h2>{{article?.title}}</h2>
@if (article?.appointments?.length) {
    <table class="article-table">
        @for (appointment of article?.appointments; track $index) {
            <tr>
                <td>
                    <p>{{appointment.title}}</p>
                    <p>{{appointment.startDate | dateWordFormat}} - {{appointment.endDate | dateWordFormat}}</p>
                    @if (appointment.predecessor) {
                        <p>Предшественник: {{appointment.predecessor}}</p>
                    }
                    @if (appointment.successor) {
                        <p>Преемник: {{appointment.successor}}</p>
                    }
                </td>
            </tr>
        }
        
    </table>
}
@if (article?.resources?.length) {
    <table class="article-table">
        @for (resource of article?.resources; track $index) {
            <tr>
                <td>
                    {{resource.key}}
                </td>
                <td>
                    {{resource.value}}
                </td>
            </tr>
        }
        
    </table>
}


<p>{{article?.body}}</p>
